body {
  background-color: black;
  background-image: linear-gradient(to top, #220000, #880000);
  background-size: 100% 760px;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

label {
  cursor: pointer;
}
label:focus {
  outline: none;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 240px;
  height: 370px;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
}
menu {
  position: -webkit-sticky;
  position: sticky;
  float: left;
}
.menu label.menu-toggle {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: transparent
    url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png)
    50% 50%/25px 25px no-repeat;
}
.menu ul li a,
.menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: white;
}
.menu li {
  list-style-type: none;
}
.menu ul li a:hover,
.menu ul li label:hover {
  color: #990000;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

/* for show */
#info {
  display: table;
  background: rgba(0, 0, 255);
  height: 100%;
  width: 100%;
}
#info #info-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 12px;
}
#info #info-content h1 {
  color: black;
  border: 3px solid black;
  text-align: center;
  background: rgba(0, 0, 0);
  font-size: 22px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}
#info #info-content h1 strong {
  display: block;
  font-size: 26px;
}

.LumeLogo {
  display: block;
  height: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0px 13px 50px 10px rgb(0, 0, 0);
}
.button_slide {
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset -400px 0 0 0 black;
  -webkit-transition: ease-out 0.25s;
  -moz-transition: ease-out 0.25s;
  transition: ease-out 0.25s;
}
.slide_right:hover {
  box-shadow: inset 0 0 0 0;
  color: black;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
.button_slide_info {
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 -100px 0 0 black;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.slide_down:hover {
  box-shadow: inset 0 0 0 0 black;
  color: black;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
  text-decoration: none;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  box-shadow: none !important;
}
.button {
  color: transparent;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: white;
  margin-top: 200px;
  text-align: center;
  letter-spacing: 1px;
}
h2 {
  color: white;
  font-size: 25px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
}
h3 {
  color: white;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 100px;
  font-size: 25px;
}
.apresentaçao {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
.objetivo,
.oquelume,
.destacar,
.staking,
.evento,
.quemsomos {
  text-align: center;
  color: black;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  border: 5px solid white;
  background-color: white;
  border-radius: 10px;
}
